<!DOCTYPE html>
<html lang="en">
<head>
    
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png" type="image/png">

    <title>Portfolio, Vaighai</title>
   
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;200&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc10fac926.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="s1">
        <div class="container">
            <div class="greet-wrapper">
                <h1>Hello, I'm <span>Vaighaiselvan</span></h1>            
            </div>
            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <!--Head Section-->
                <div class="colors cls">
                    <div class="colors_main cls">
                        <div class="colorsIcons red"></div>
                        <div class="colorsIcons yellow"></div>
                        <div class="colorsIcons green"></div>
                    </div>
                    <ul class="links cls">
                        <li><a href="#" class="links-underline">Contact</a></li>
                        <li><a href="#" class="links-underline">About</a></li>
                        <li><a href="#" class="links-underline">Social Media</a></li>
                    </ul>
                </div>
                </div>
                <div class="left-wrapper">
                   <div class="image">
                        <img src="/images/croppedVaighai.png" alt="Profile" class="profile-pic" id="profile-pic" height="150px" width="150px">
                   </div>
                   <div class="buttons">
                       <div style="background-color: #2C3E50;border-color: #fff;" class="dark-color cls" id="theme-dot"></div>
                       <div style="background-color: #58D68D;border-color: #eee;" class="light-color cls" id="theme-dot"></div>
                       <div style="background-color: #3498DB;border-color: #eee;" class="blue-color cls" id="theme-dot"></div>
                       <div style="background-color: #CB4335;border-color: #eee;" class="green-color cls"  id="theme-dot"></div>
                   </div>

                   <p class="settings-note">Personalized theme</p>
                   <p class="sec-para">Next time you can see the same theme you've chosen</p>
                </div>
                <div class="right-wrapper">
                    <div class="content-right">
                    </div>
                        <p class="para">I am a person who is positive about every aspect of life. There are many things I like to do, to see, and to experience. I like to read, I like to write; I like to think, I like to dream; I like to talk, I like to listen <span class="cursor-blink">|</span></p>
                </div>

                
            </div>
        </div>
    </section>
<br><br>
     <section class="s2">
    <!--    <div class="container"> -->
            <div class="grid-container container">
                <div class="content">
                    <h4>More About Me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quod ad facere totam, itaque officia.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, praesentium.</p>
                </div>
                <img src="/images/sampleimage.svg" alt="no image" height="250px" width="250px">    
                
            <hr>
                
</section>

<div class="expertise container">
    <div class="heading">
        <h2>Top Expertise</h2>
    </div>
    <div class="para">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut non totam praesentium.</p>
    </div>
</div>

<div class="socialLinks container">
    <div><a href="#"><i class="fab fa-instagram"></i> Instagram</a></div>
    <div><a href="#"><i class="fab fa-facebook"></i> facebook</a></div>
</div>
</div>
</body>
</html>